body {
  font-size: 120%;
  display: flex;
    min-height: 100vh;
    flex-direction: column;  
}
main {
  flex: 1 0 auto;
}

button, .extra {
  font-weight: bold;
  font-size: 70% !important;
    width: 100%;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width : 700px) {
  nav .brand-logo {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 70%;
  font-size: 1.15rem;
  }
  nav img {
    width: 26px; 
    height: 26px;
  }
  h4 {
    font-size: 1.64rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.95rem;
  }
  body {
    font-size: 0.8rem;
  }
  .card-title, .card-action {
    font-size: 1rem !important;
}
  }
  